* {margin:0;padding:0}

body {color:#666;font-family:arial, verenda;font-size:12px;line-height:18px}
a {color:#FF9514;text-decoration:none;}
a:hover {text-decoration:none}
input[type=text],input[type=password], input[type=email], textarea {border:1px solid #CFCECD;padding:3px}
h1, h2, h3, h4, h5, h6 {font-weight:normal;margin-bottom:15px;color:#FF7A22}

.fix {overflow:hidden}
.floatleft {float:left}
.floatright {float:right}
.structure {width:1010px;margin:0 auto;display:block}


.hd_main{
	background: url(images/headerbg.png) repeat-x scroll 0 0;
}
.header_area{
	
	height:195px;
}
.logo {
  margin-bottom: 18px;
  margin-left: 19px;
  margin-top: 3px;
}
.header_right_top {
  margin-left: 470px;
  margin-top: 45px;
}
.first_image{
	margin-left:10px;
}


.main_menu{}
.main_menu ul{margin:0;padding:0;list-style:none;text-align:right;
  margin-right:5px;
}
.main_menu ul li{display:inline;
}
.main_menu ul li a {
    background: url("images/menu_bg.png") repeat-x scroll 0 0 transparent;
    border-radius: 10px 10px 0 0;
    color: white;
    display: inline-block;
    font-size: 15px;
    margin-left: -0px;
    margin-top: 42px;
    padding: 8px 19px;
    text-decoration: none;
	 
}
.main_menu ul li a:hover{background: url(images/menu_hover_bg.png);height:100px;color:black;}






.content_area{background:url(images/contentbg.png) repeat-x scroll 0 0 }
.main_content{width:1005px; background-color:#FFFFFF;margin:0 auto; margin-top:13px;}
.content_left{}
.content_left h2{margin:17px;}
.Box{margin-left:18px;margin-right:13px;width:643px;border:1px solid #CCCCCC }
.two_column{width:593px;margin-left:25px;margin-right:25px;}
.column_left{margin-top:22px;}
.column_left input{margin-bottom:10px;}
.column_left input[type="text"] {
   width:243px;
   height:20px;
}

.column_right{margin-left:33px;margin-top:22px;}
.column_right input{margin-bottom:10px;}
.column_right input[type="text"] {
  width:274px;
  height:20px;
}


.column_right_three1{}
.column_right_three2{}
.one_column{
	width:593px;
	margin-left:25px;margin-right:25px;
}
.one_column input[type="text"] {
  
  width:585px;
  height:20px;
  margin-bottom:10px;
}
.loca{
	width:593px;
	margin-left:25px;margin-right:25px;
}
.loca textarea{
	width:584px;
  height:60px;
  margin-bottom:10px;
}
.one_column_one{
	width:593px;
	margin-left:25px;margin-right:25px;
}
.one_column_one input[type="text"]{
	width:275px;
	margin-bottom:10px;
}
.one{margin-left:23px;}

.three_column{
	width:593px;
	margin-left:25px;margin-right:25px;
}
.three_cl{
	
}
.three_cll{
	margin-right: 0px !important;
}
.three_cl input[type="text"]{
	width:182px;
	margin-right: 11px;
	margin-bottom:10px;
}
.three_cll input[type="text"]{
	width:183px;
	margin-bottom:10px;

}
.one_column{}


.content_right{
	font-size:13px; 
}
.right_box1 {
  border: 1px solid #cccccc;
  margin-left: 13px;
  margin-right: 20px;
  margin-top: 51px;
  width: 298px;
  height:192px;
  
 
}
.right_box1 h2 {
  margin-bottom: 2px;
  margin-left: 22px;
  margin-top: 13px;
}
.right_box1 ul{margin:0; padding:0;margin-bottom:21px;}
.right_box1 ul li {
  background: url("images/list_item.png") no-repeat scroll 0 9px rgba(0, 0, 0, 0);
  border-bottom: 1px dotted #3c3c3b;
  list-style: outside none none;
  margin-left: 18px;
  margin-right: 21px;
  padding: 5px 0 5px 15px;
}
.right_box1 ul li a{color:#3C3C3B;}
.right_box1 ul li a:hover{}


.rigth_box2{
  border: 1px solid #cccccc;
  margin-left: 13px;
  margin-right: 20px;
  margin-top:16px;
  width: 298px;
  height:71px;
}
.rigth_box2 img{
	margin:8px;
}


.content_bottom {
  margin-bottom: 44px;
  margin-left: 321px;
  margin-top: 12px;
}
.content_bottom input[type="submit"]{
	height:49px;
	width:192px;
	display:inline-block;
	text-indent:-99999px;
	border:none;
	background:url(images/submit_button.png) no-repeat;
	cursor:pointer;
	
}
.content_bottom input[type="reset"]{
	height:49px;
	width:133px;
	display:inline-block;
	text-indent:-99999px;
	border:none;
	background:url(images/cancel_button.png) no-repeat;
	cursor:pointer;
	margin-left:12px;
}



.ftarea{
	background:#FF9412;color:#fff
}
.footer_area{margin:2px auto;}


.copyright{margin-top:58px;margin-right:60px;margin-bottom:45px;}
.social_bookmark{margin-top:58px;margin-right:52px;margin-bottom:45px;}
.social_bookmark p{margin-left:20px;float:left;margin-left:6px;}
.social_bookmark a{float:left;}
.social_bookmark img{margin-left:5px;}




.footer_menu{margin-top:54px;margin-bottom:49px;}
.footer_menu ul{margin:0;padding:0;list-style:none;}
.footer_menu ul li{text-align:right;display:inline;border-right:1px solid white;}
.footer_menu ul li:last-child{border-right:none}
.footer_menu ul li a{color:white;display:inline-block;padding:6px 13px;}
.footer_menu ul li a:hover{}

.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}